:root{
--main-color:#4b5563;
--cell-color: #9ca3af;
--bg-color:#0f172a;
background-color: var(--bg-color);
}


.gameCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px ;
    height: 300px;
    gap: 5px;
    background-color: rgb(179, 168, 168);

}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
}
.playerSelection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 30px;

}
.playerTag{
    margin: 0 50px;
    border-radius: 10px;
    background-color: var(--main-color);
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;

    h3{
        text-align: center;
    }
}
.glowPlayerBg{
    background-color: var(--bg-color);
}

.cells{
    background-color: var(--main-color);
    h1{
        text-align: center;
    }
}