:root{
--main-color:#4b5563;
--cell-color: #9ca3af;
--bg-color:#0f172a;
background-color: var(--bg-color);
}


.gameCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px ;
    height: 300px;
    gap: 5px;
    background-color: rgb(179, 168, 168);

}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 10px;
}

.cells{
    background-color: var(--main-color);
}